@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
   
}

.primary_color{
    background-color: #0554c8
}

/* nkyc list page */
.primary_color_list {
    background: linear-gradient(to bottom, oklch(0.9 0.05 250), white);
}


.wave-btn {
    position: relative;
    overflow: hidden;
 
    cursor: pointer;
  
    outline: none;
    transition: background 0.3s ease-in-out;
  }
  
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    animation: waveMove 0.8s ease-out forwards;
  }
  
 
  @keyframes waveMove {
    0% {
      width: 0%;
      opacity: 0.6;
    }
    100% {
      width: 100%;
      opacity: 0;
    }
  }

  .ripple-button {
    position: relative;
    overflow: hidden;
  }
  
  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    width: 100px;
    height: 100px;
    opacity: 1;
    z-index: 10;
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }